*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-image: url(./img/wallpaper4k\ moto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: inherit;
    font-family: 'Kanit', sans-serif;
}

.shadow {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.562);
}

.text {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    /* align-items: end;
    text-align: end; */
    font-size: 60px;
    padding: 0 2rem;   
    line-height: 1.5;
}

h1 {
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 0.9;
    text-shadow: 6px 6px 6px black;
    font-weight: 200;
}

.strong {
    font-weight: bolder;
    color: rgb(255, 72, 0);
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.603); 
}

h2 {
    padding: 0.5rem 0;
    color: gray;
    font-weight: 100;
    text-decoration: overline white 1px;
    text-shadow: 6px 6px 6px rgba(255, 68, 0, 0.466);
}

button {
    /* width: 100px;
    height: 50px; */
    border-radius: 5rem;
    padding: 1rem;
    margin: auto;
    transition: all 0.25s;
    border: solid 1px;
}

button:hover,
button:focus {
    background-color: rgb(255, 72, 0);
    color: rgb(255, 255, 255);
    transform: scale(1.2);
    text-shadow: 6px 6px 6px rgb(0, 0, 0);
}


